.tab-pane *.tab-header-area *.tab-header-background {
    -fx-background-color:transparent;
}

.tab {
    -fx-font-family: Arial;
    -fx-font-size: 26;
    -fx-background-color: #0ed450;
}

.tab:selected {
    -fx-background-color: #7e247a;
}


.tab-pane *.tab-header-area *.tab-header-background {
    -fx-background-color: #f6f300;
}
